body {
  font-family: sans-serif;
}

h1 {
  font-weight: 100;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #2474b9;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #2124a0;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.weather-app {
  border: 1px solid aliceblue;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.temperature {
  color: rgb(160, 0, 133);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}
.search-form {
  margin-bottom: 20px;
}
